# Logs
Logs/
*.log

# Build artifacts
bin/
obj/
out/

# Visual Studio Code
.vscode/

# User-specific files
*.user
*.suo
*.cache
*.preferences
*.db

# Ignore compiled binaries
CryptoSoft
CryptoSoft.dll
CryptoSoft.pdb

# Rider / JetBrains
.idea/
*.iml
